# Ignore files that will be set locally
/automations.yaml
/configuration.yaml
/themes.yaml
/ui-lovelace.yaml

# Ignore auxiliary folders.
.storage
.cloud
.google.token
deps

# Ignore dbs
*.db
*.log
*.db-wal
*.db-shm

# Ignore to keep secret data/credentials.
ip_bans.yaml
secrets.yaml
known_devices.yaml

# Ignore too.
gitpull*
core
